@keyframes cardHover {
  0% {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    top: 0px;
    left: 0px;
  }
  100% {
    top: -5px;
    left: -5px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
  }
}
@keyframes shiftBackground {
  0% {
    background-position-y: -690px;
  }
  100% {
    background-position-y: 0px;
  }
}
@keyframes buttonHover {
  100% {
    transform: scale(1.2);
    background-color: skyblue;
  }
}
@keyframes navHover {
  100% {
    color: #DB7A4E;
    text-decoration: underline;
  }
}
:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.mainBody {
  background-color: white;
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0px;
}
.header__wordmark {
  color: #335576;
  font-weight: 700;
  font-size: 1.3rem;
}
.header__wordmark__link {
  color: #335576;
  text-decoration: none;
}
.header__navContainer {
  background-color: none;
}

.siteNav {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 0px;
}
.siteNav__link {
  color: black;
  text-decoration: none;
  padding-bottom: 10px;
}
.siteNav__link:hover {
  animation: navHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.siteNav__link--active {
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: #DB7A4E;
}

.footer {
  background-color: #FEFAF5;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 13%;
  padding-right: 13%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.footer__card {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  background-color: none;
}
.footer__card__bar {
  list-style: none;
  display: flex;
  padding-left: 0px;
  background-color: none;
}
.footer__card__bar__cell {
  background-color: none;
  padding-right: 30px;
}
.footer__card__title {
  color: #335576;
  font-size: 1.55rem;
}
.footer__card__text {
  color: #335576;
  font-size: 1rem;
}
.footer__card__hightlight {
  color: #DB7A4E;
  font-size: 0.65rem;
}
.footer__card__icon {
  background-color: none;
  height: 25px;
  padding-top: 35px;
}

.destination {
  padding-top: 10px;
  padding-bottom: 100px;
  padding-left: 8%;
  padding-right: 8%;
  background-size: cover;
  background-position-y: -690px;
  background-repeat: no-repeat;
  animation: shiftBackground;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
.destination--hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
}
.destination--iceland {
  background-image: url("../assets/Images/iceland.jpg");
}
.destination--greece {
  background-image: url("../assets/Images/greece.jpg");
}
.destination__title {
  color: #FFFFFF;
  font-size: 4rem;
}
.destination__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
}
.destination__cards__item {
  width: 220px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
}
.destination__cards__item__label {
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  border: solid;
  border-width: 0px 0px 2px 0px;
}
.destination__cards__item__activityList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding-left: 0px;
}
.destination__cards__item__activityList__activity {
  background-color: #FEFAF5;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  font-size: 1.1rem;
}/*# sourceMappingURL=destinations.css.map */