@keyframes cardHover {
  0% {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    top: 0px;
    left: 0px;
  }
  100% {
    top: -5px;
    left: -5px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
  }
}
@keyframes shiftBackground {
  0% {
    background-position-y: -690px;
  }
  100% {
    background-position-y: 0px;
  }
}
@keyframes buttonHover {
  100% {
    transform: scale(1.2);
    background-color: skyblue;
    color: black;
  }
}
@keyframes navHover {
  100% {
    color: #DB7A4E;
    text-decoration: underline;
  }
}
:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainBody {
  background-color: #FFFFFF;
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0px;
}
.header__wordmark {
  color: #335576;
  font-weight: 700;
  font-size: 1.14rem;
}
.header__wordmark__link {
  color: #335576;
  text-decoration: none;
}
.header__navContainer {
  background-color: none;
}

.siteNav {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 0px;
}
.siteNav__link {
  color: black;
  text-decoration: none;
  padding-bottom: 10px;
}
.siteNav__link:hover {
  animation: navHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.siteNav__link--active {
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: #DB7A4E;
}

.footer {
  background-color: #FEFAF5;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 13%;
  padding-right: 13%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.footer__card {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  background-color: none;
}
.footer__card__bar {
  list-style: none;
  display: flex;
  padding-left: 0px;
  background-color: none;
}
.footer__card__bar__cell {
  background-color: none;
  padding-right: 30px;
}
.footer__card__title {
  color: #335576;
  font-size: 1.36rem;
}
.footer__card__text {
  color: #335576;
  font-size: 0.875rem;
}
.footer__card__hightlight {
  color: #DB7A4E;
  font-size: 0.56rem;
}
.footer__card__icon {
  background-color: none;
  height: 25px;
  padding-top: 35px;
}

.hero {
  background-color: #FEFAF5;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 9%;
  padding-right: 9%;
}
.hero__slogan {
  color: #335576;
  font-size: 2.19rem;
}
.hero__text {
  color: #335576;
  font-size: 0.875rem;
}
.hero__CTAButton {
  background-color: #DB7A4E;
  color: #FFFFFF;
  border-radius: 20px;
  border-style: none;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hero__CTAButton:hover {
  animation: buttonHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.hero__image {
  width: 420px;
}

.recommendation {
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 8%;
  padding-right: 8%;
}
.recommendation__title {
  color: #335576;
  font-size: 1.4rem;
}
.recommendation__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
}
.recommendation__cards__item {
  width: 255px;
  height: 382px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}
.recommendation__cards__item:hover {
  animation: cardHover;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.recommendation__cards__item:active {
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  filter: contrast(2);
}
.recommendation__cards__item__bk {
  width: 100%;
  border-radius: 5px;
}
.recommendation__cards__item__label {
  position: absolute;
  bottom: 0px;
  right: 20px;
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */