$colBodyBackground : #FFFFFF;
$colDefaultBackground: #FFFFFF;
$colButtonText: #FFFFFF;
$colDesinationLabel:#FFFFFF;

$colFooterBackground: #FEFAF5;
$colHeroBackground: #FEFAF5;
$colAcivityBackground: #FEFAF5;

$colText: black;
$colNavLink: black;
$colButtonTextHover: black;

$colTitle: #335576;
$colWordMark: #335576;

$colHighlight: #DB7A4E;
$colButton: #DB7A4E;
$colNavHover: #DB7A4E;

$colButtonHover: skyblue;




