@use 'anim' as *;
@use 'colors' as *;

:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    //font-size: 14px;
}

.mainBody{
    background-color: $colBodyBackground;
    margin: 0px;
    padding: 0px;
}


.header{
    background-color: $colDefaultBackground;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0px;

    &__wordmark{
        color: $colWordMark;
        font-weight: 700;
        //font-size: 1.3rem;
        font-size: 1.14rem;

        &__link{
            color: $colWordMark;
            text-decoration: none;
        }
    }

    &__navContainer{
        background-color: none;
    }
}

.siteNav
{
    display: flex;
    list-style: none;
    gap: 20px;
    padding-left: 0px;
    
    &__link{
        color: $colNavLink;
        text-decoration: none;
        padding-bottom: 10px;

        &:hover{
            animation: navHover;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }

        &--active{
            border-width: 0px 0px 3px 0px;
            border-style: solid;
            border-color: $colHighlight;
        }
    }
    
}

.footer{
    background-color: $colFooterBackground;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 13%;
    padding-right: 13%;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;

    &__card{
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        background-color: none;
        

        &__bar{
            list-style: none;
            display: flex;
            padding-left: 0px;
            background-color: none;
            

            &__cell{
                background-color: none;
                padding-right: 30px;
            }
        }

        &__title{
            color: $colTitle;
            //font-size: 1.55rem;
            font-size: 1.36rem;

        }    

        &__text{
            color: $colTitle;
            //font-size: 1rem;
            font-size: 0.875rem;
        }

        &__hightlight{
            color: $colHighlight;
            //font-size: 0.65rem;
            font-size: 0.56rem;
        }

        &__icon{
            background-color: none;
            height: 25px;
            padding-top: 35px;
        }
        
    }
    
}